* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

/* start  */

.menu {
  background-color: #000000;
  margin-top: 2rem;
}

.menu-container {
  display: flex;
  min-height: 20rem;
  flex-direction: column;
  padding-top: 2rem;
}

.table-item {
  position: relative;
  margin-bottom: 0.4rem;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  background: linear-gradient(
    35deg,
    #48ff00,
    #7a00ff,
    #ff00c8,
    #ff7300,
    #fffb00,
    #ff00c8
  );
  background-size: 400%;
  animation: glowing-button-85 50s;
}

.btn-wrapper {
  margin-top: 2rem;
}

.btn-container {
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  position: relative;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  background: #111;
  color: white;
  border: none;
  transition: 0.4s ease;
  cursor: pointer;
}

.btn-container button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* responsive */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
